/* Глобальные стили */

:root {
  --general-text: #0e2850;
  --accent-text: #1f6bdd;
  --second-accent-text: #841fdd;
  --general-bg: #ffffff;
  --accent-bg: #f4e7ff;
  --second-accent-bg: #841fdd;
  --footer-text: #ffffff;
  --transition: all 0.4s;
}

.body {
  font-family: "Gilroy", sans-serif;
  line-height: 32.4px;
  font-size: 24px;
  font-weight: 500;
  color: var(--general-text);
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}
