/* ========Банер над меню======== */

.header__banner {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
  background-color: #d5e3f9;
}
.header__banner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.header__banner-title,
.header__banner-email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__banner-title svg,
.header__banner-email svg {
  align-self: center;
}

/* ========Меню======== */
.header__menu {
  font-size: 16px;
  line-height: 20.8px;
}
.website-logo {
  z-index: 11;
}
.header__menu-inner {
  display: flex;
  justify-content: space-between;
  padding: 38px 0;
}
.header__menu-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6vw;
  width: 100%;
}
.header__menu-left img {
  display: block;
}
.header__nav {
  font-weight: 500;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 4vh 20px;
}
.header__nav-link {
  display: block;
  padding: 5px 0;
  position: relative;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #000;
  width: 100%;
  height: 1px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.header__nav-link:hover::before {
  visibility: visible;
  opacity: 1;
}
.header__button {
  border-radius: 16px;
  background: var(--accent-text);
  padding: 15px 43px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* =============Бургер меню============== */

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
  border: 1.12px solid #1f6bdd;
  border-radius: 50%;
  padding: 9px 12px;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 100px;
  background: var(--accent-text);
  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  top: -10px;
}

.burger-icon span::after {
  bottom: -10px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

/* =============Шапка============== */
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 48px 15px;
  align-items: center;
  padding: 86px 0 81.5px;
}

.hero__descr {
  max-width: 816px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  color: var(--accent-text);
  margin-bottom: 32px;
  line-height: 1.2;
}

.hero__text {
  color: var(--general-text);
  margin-bottom: 42px;
}

.hero__button {
  padding: 21px 32px;
  background: #841fdd;
  border-radius: 21px;
  color: #fff;
}

.hero__button svg {
  fill: #fff;
  margin-left: 12px;
  font-weight: 700;
}
/* =============Приемущества============== */

.features__container {
  padding: 75px 0 81.5px;
}

.features__col {
  padding: 20px 20px;
  background: #f4f8fd;
  border-radius: 24px;
}

.features__col img {
  width: 100%;
  margin-bottom: 40px;
  height: 350px;
}

.features__col-title {
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 16px;
}
/* ===========Статистика============== */

.stats__col {
  padding: 48px 10px;
  border-radius: 64px;
  width: 100%;
  background-color: #f4f8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__col-img {
  margin-bottom: 46px;
}

.stats__col-title {
  font-weight: 600;
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 24px;
}
/* ==========Партнеры============ */
.partners__col {
  display: flex;
  justify-content: center;
  padding: 8vw 20px;
  width: 100%;
  border: 1.5px solid var(--accent-text);
  border-radius: 500px;
}

.partners__col img {
  min-width: 231px;
}

.partners__col img {
  width: 100%;
  max-width: 462px;
}
/* ===========Карусель============= */
.carousel {
  padding: 70px 0 150px;
}
.carousel__container {
  padding: 75px 0;
  background-color: var(--accent-text);
  border-radius: 16px;
  padding: 59px 0;
  overflow: hidden;
}
.carousel__wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}
.carousel__col-wrapper {
  max-width: 345px;
  width: 100%;
  z-index: 3;
  overflow: visible;
}
.carousel__col-title {
  position: relative;
}
.carousel__col {
  display: flex;
  gap: 12px;
  justify-content: left;
  align-items: center;
  padding: 12px;
  background: #f4f8fd;
  border-radius: 16px;
  line-height: 1.35;
  font-weight: 600;
  width: 320px;
}
.carousel__col--top {
  position: relative;
  z-index: 2;
  margin-bottom: 8px;
}
.carousel__col-banner {
  position: absolute;
  border-radius: 16px;
  height: 53px;
  background-color: var(--second-accent-text);
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  left: 0;
  top: -27px;
  z-index: 1;
}
.carousel__col--bottom {
  position: relative;
}
.carousel__col--bottom svg {
  position: absolute;
  padding: 9px 11px;
  background-color: var(--second-accent-text);
  border-radius: 50%;
  top: 0;
  right: 40%;
  transform: translateY(-50%);
  z-index: 2;
}
/* =======Подвал================= */
.footer {
  color: #fff;
  background: #1f6bdd;
}

.footer_wrapper {
  display: grid;
  gap: 15px;
  padding: 64px 0 58px;
  grid-template-columns: 1.2fr 0.6fr 1.2fr;
}

.footer__logo-col {
  text-align: center;
  max-width: 418px;
}

.footer__logo-col img {
  max-width: 327px;
  margin-bottom: 36px;
}

.footer__logo-col p {
  font-weight: 500;
}

.footer__menu-col {
  max-width: 390px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}
.footer__menu-col-wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer__menu-one-item,
.footer__menu-two-item {
  margin-bottom: 42px;
}

.footer__menu-socials-wrapper {
  max-width: 360px;
  margin: 0 auto;
}

.footer__menu-socials {
  display: flex;
  gap: 12px;
  margin-bottom: 23px;
}
.footer__menu-socials:last-child {
  margin-bottom: 0;
}
.footer__menu-socials img {
  width: 32px;
  height: 32px;
}
.footer__menu-socials-link--telegram {
  text-decoration: underline;
}
/* ========Медиа запросы======== */

@media (max-width: 1440px) {
  .section__title {
    font-size: 20px;
    margin-bottom: 56px;
  }
  .hero__title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .hero__text {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .hero__button {
    padding: 16px 18px 16px 24px;
    font-size: 18px;
    font-weight: 700;
  }

  .hero__calculator {
    min-width: 560px;
    min-height: 466px;
  }

  .section__wrapper--features {
    flex-wrap: wrap;
    justify-content: center;
  }

  .features__col {
    max-width: 298px;
  }

  .features__col-title {
    margin-bottom: 12px;
  }

  .stats__col-img {
    margin-bottom: 48px;
  }

  .stats__col-title {
    font-size: 64px;
    margin-bottom: 16px;
  }

  .stats__col-descr {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .header__button {
    display: none;
  }
  .header__menu-left {
    justify-content: space-between;
  }
  .hero__wrapper {
    flex-direction: column-reverse;
  }
  .section__wrapper--partners {
    flex-wrap: wrap;
  }
  .partners__col {
    padding: 66px 44px;
  }
  .footer_wrapper {
    grid-template-columns: 1.2fr 0.6fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer__menu-socials-wrapper {
    margin-left: 35px;
  }
}
@media (max-width: 768px) {
  .header__banner {
    display: none;
  }
  .header__menu-inner {
    padding: 32px 0;
  }
  .header__nav {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--general-bg);
    padding: 20vh 15px 30px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    font-size: 20px;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .burger-icon {
    display: flex;
  }
  .body--opened-menu .header__nav {
    display: block;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .hero__wrapper {
    padding-top: 0;
  }

  .features__container,
  .stats__container {
    padding: 40px 0;
  }

  .features__wrapper {
    gap: 8px;
  }

  .section__wrapper--stats {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stats__col {
    max-width: 400px;
  }

  .footer_wrapper {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .footer__logo-col,
  .footer__menu-col,
  .footer__menu-socials-wrapper {
    margin: 0 auto;
  }

  /* ========= */

  .calculator__dropdown {
    padding: 8px;
  }
}
@media (max-width: 560px) {
  .hero__title {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .hero__text {
    hero__text {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  .hero__calculator {
    width: 360px;
    height: 442px;
  }
  .footer {
    font-size: 16px;
  }
  .footer__menu-col {
    margin-top: -20px;
  }
}
@media (max-width: 360px) {
  /* Стили для экранов с максимальной шириной 360px */
}
