/* ========Банер над меню======== */

.header__banner {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
  background-color: #d5e3f9;
}
.header__banner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.header__banner-title,
.header__banner-email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__banner-title svg,
.header__banner-email svg {
  align-self: center;
}

/* ========Меню======== */
.header__menu {
  font-size: 16px;
  line-height: 20.8px;
}
.header__menu-inner {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.header__menu-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 142px;
}
.header__menu-left img {
  display: block;
}
.header__nav {
  font-weight: 500;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__button {
  border-radius: 16px;
  background: var(--accent-text);
  padding: 15px 43px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}
/* ========Медиа запросы======== */

@media (max-width: 1920px) {
  /* Стили для экранов с максимальной шириной 1920px */
}

@media (max-width: 1440px) {
  /* Стили для экранов с максимальной шириной 1440px */
}
@media (max-width: 768px) {
  .header__banner {
    display: none;
  }
}
@media (max-width: 360px) {
  /* Стили для экранов с максимальной шириной 360px */
}
